
html {
  height: 100%;
}
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif!important;
  font-weight: 400;
  height: 100%;
  line-height: 1.9;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #fbfbfb;
  background-color: #fff;
}
p {
  margin: 0 0 20px 0;
  color: #fbfbfb;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 20px 0;
  color: #111;
}
h1,
h2 {
  line-height: 1.4;
}
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}
h1 {
  font-size: 52px;
}
@media only screen and (max-width: 1199px) {
  h1 {
    font-size: 46px;
  }
}
@media only screen and (max-width: 991px) {
  h1 {
    font-size: 41px;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 36px;
  }
}
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 479px) {
  h1 {
    font-size: 28px;
  }
}
h2 {
  font-size: 32px;
}
@media only screen and (max-width: 1199px) {
  h2 {
    font-size: 28px;
  }
}
@media only screen and (max-width: 991px) {
  h2 {
    font-size: 26px;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 22px;
  }
}
h3 {
  font-size: 22px;
}
@media only screen and (max-width: 991px) {
  h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 18px;
  }
}
/*=======================================================================
2. Template Default Style
=========================================================================*/
a {
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  text-decoration: none;
}
a:active,
a:hover,
a:focus {
  outline: 0 none;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
body .wrapper {
  position: relative;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
body.loaded .wrapper {
  opacity: 1;
  visibility: visible;
}
/*========================================================================
3. Preloader Style
=========================================================================*/
body #preloader {
  opacity: 1;
  visibility: visible;
  height: 100%;
  left: 0;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  transition: all 0.3s ease-in-out;
}
body.loaded #preloader {
  opacity: 0;
  visibility: hidden;
}
/*========================================================================
4. Subscribe Style
=========================================================================*/
.modal.fade .modal-dialog {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-transition: all 1s cubic-bezier(0, 1.56, 0.86, 1.37);
  -o-transition: all 1s cubic-bezier(0, 1.56, 0.86, 1.37);
  transition: all 1s cubic-bezier(0, 1.56, 0.86, 1.37);
}
.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal .modal-dialog {
  max-width: 850px;
  padding: 0 15px;
}
.modal .modal-dialog .modal-content {
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 59px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 59px 0 rgba(0, 0, 0, 0.1);
}
.modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 22;
}
.modal .modal-dialog .modal-content .modal-header button {
  background-color: transparent;
  border: 0;
  line-height: 1;
  font-size: 40px;
  font-weight: 300;
  margin-right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal .modal-dialog .modal-content .modal-header button:focus {
  outline: none;
}
.modal .modal-dialog .modal-content .modal-body {
  padding: 60px 50px;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .modal .modal-dialog .modal-content .modal-body {
    padding: 70px 80px;
  }
}
@media only screen and (max-width: 575px) {
  .modal .modal-dialog .modal-content .modal-body {
    padding: 50px;
  }
}
@media only screen and (max-width: 479px) {
  .modal .modal-dialog .modal-content .modal-body {
    padding: 30px 15px;
  }
}
.modal .modal-dialog .modal-content .modal-body .notify-icon {
  display: inline-block;
  width: 15vw;
  margin-bottom: 40px;
  background: transparent;
  position: relative;
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: iconAnimate 3s ease-in-out forwards;
  animation: iconAnimate 3s ease-in-out forwards;
}
.modal .modal-dialog .modal-content .modal-body .item-title {
  font-size: 36px;
  font-weight: 700;
  color: #111111;
  margin-bottom: 12px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 1199px) {
  .modal .modal-dialog .modal-content .modal-body .item-title {
    font-size: 36px;
  }
}
@media only screen and (max-width: 991px) {
  .modal .modal-dialog .modal-content .modal-body .item-title {
    font-size: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .modal .modal-dialog .modal-content .modal-body .item-title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 575px) {
  .modal .modal-dialog .modal-content .modal-body .item-title {
    font-size: 26px;
  }
}
@media only screen and (max-width: 479px) {
  .modal .modal-dialog .modal-content .modal-body .item-title {
    font-size: 24px;
  }
}
.modal .modal-dialog .modal-content .modal-body p {
  color: #646464;
  line-height: 30px;
  margin-bottom: 40px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .form-control {
  margin-bottom: 15px;
  border: 1px solid #d3d3d3;
  height: 50px;
  width: 100%;
  background-color: transparent;
  font-size: 17px;
  color: #111111;
  padding: 10px 20px;
  border-radius: 45px;
  font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 767px) {
  .modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .form-control {
    height: 48px;
    font-size: 16px;
  }
}
@media only screen and (max-width: 575px) {
  .modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .form-control {
    height: 46px;
    font-size: 15px;
  }
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  z-index: 0;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 300;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group input::-moz-placeholder {
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 300;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group input:-moz-placeholder {
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 300;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group input:-ms-input-placeholder {
  color: #bdbdbd;
  font-size: 15px;
  font-weight: 300;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .input-group-addon {
  display: block;
  width: 100%;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .input-group-addon button {
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  border: 2px solid #cb2026;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 45px;
  background-color: #cb2026;
  padding: 4px 50px;
  font-family: 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .input-group-addon button {
    font-size: 18px;
    padding: 5px 40px;
  }
}
@media only screen and (max-width: 575px) {
  .modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .input-group-addon button {
    font-size: 16px;
    padding: 6px 35px;
  }
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .input-group-addon button:focus {
  outline: none;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .input-group .input-group-addon button:hover {
  background-color: transparent;
  color: #111111;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form #subscribe-input-group {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form #subscribe-input-group.group-hidden {
  opacity: 0;
  visibility: hidden;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .form-result {
  display: block;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  border-radius: 0;
  background-color: transparent;
  border: 0;
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 575px) {
  .modal .modal-dialog .modal-content .modal-body .subscribe-form .form-result {
    font-size: 14px;
    padding: 0.6rem;
  }
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .form-result .content {
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .form-result .content span {
  line-height: 1.2;
  margin-bottom: 10px;
  display: block;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
}
@media only screen and (max-width: 767px) {
  .modal .modal-dialog .modal-content .modal-body .subscribe-form .form-result .content span {
    font-size: 30px;
  }
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .form-result.alert-warning .content {
  color: #bba800;
}
.modal .modal-dialog .modal-content .modal-body .subscribe-form .form-result.alert-success .content {
  color: #00b72d;
}
.modal-backdrop {
  z-index: -1;
}
@-webkit-keyframes iconAnimate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  70% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes iconAnimate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  30% {
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  70% {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
/*========================================================================
5. Demo Style
=========================================================================*/
.fxt-small-shap li {
  position: absolute;
  z-index: 0;
  -webkit-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}
.fxt-small-shap li.fxt-shape-1 {
  left: 13%;
  top: 20%;
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}
.fxt-small-shap li.fxt-shape-2 {
  left: 35%;
  top: 10%;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.fxt-small-shap li.fxt-shape-3 {
  left: 17%;
  top: 40%;
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}
.fxt-small-shap li.fxt-shape-4 {
  left: 12%;
  top: 60%;
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}
.fxt-small-shap li.fxt-shape-5 {
  right: 35%;
  top: 10%;
  -webkit-transition-delay: 2.5s;
  -o-transition-delay: 2.5s;
  transition-delay: 2.5s;
}
.fxt-small-shap li.fxt-shape-6 {
  right: 25%;
  top: 50%;
  -webkit-transition-delay: 3s;
  -o-transition-delay: 3s;
  transition-delay: 3s;
}
.fxt-small-shap li.fxt-shape-7 {
  right: 20%;
  top: 60%;
  -webkit-transition-delay: 3.5s;
  -o-transition-delay: 3.5s;
  transition-delay: 3.5s;
}
.fxt-small-shap li.fxt-shape-8 {
  right: 20%;
  top: 80%;
  -webkit-transition-delay: 4s;
  -o-transition-delay: 4s;
  transition-delay: 4s;
}
.fxt-small-shap li.fxt-shape-9 {
  right: 30%;
  top: 90%;
  -webkit-transition-delay: 4.5s;
  -o-transition-delay: 4.5s;
  transition-delay: 4.5s;
}
@media only screen and (max-width: 1500px) {
  .fxt-small-shap {
    display: none;
  }
}
.fxt-shape-left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: auto;
  height: 25vw;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.fxt-shape-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
  -ms-transform: scale(1) translateX(-50%) translateY(-50%);
  transform: scale(1) translateX(-50%) translateY(-50%);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}
.fxt-shape-right {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: 20vw;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
body .fxt-small-shap .fxt-shape-1,
body .fxt-small-shap .fxt-shape-2,
body .fxt-small-shap .fxt-shape-3,
body .fxt-small-shap .fxt-shape-4,
body .fxt-small-shap .fxt-shape-5,
body .fxt-small-shap .fxt-shape-6,
body .fxt-small-shap .fxt-shape-7,
body .fxt-small-shap .fxt-shape-8,
body .fxt-small-shap .fxt-shape-9 {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  visibility: hidden;
}
body .fxt-shape-left {
  -webkit-transform: translateX(-50%) translateY(50%);
  -ms-transform: translateX(-50%) translateY(50%);
  transform: translateX(-50%) translateY(50%);
}
body .fxt-shape-middle {
  -webkit-transform: scale(0) translateX(-50%) translateY(-50%);
  -ms-transform: scale(0) translateX(-50%) translateY(-50%);
  transform: scale(0) translateX(-50%) translateY(-50%);
}
body .fxt-shape-right {
  -webkit-transform: translateX(50%) translateY(-50%);
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
}
body.loaded .fxt-small-shap .fxt-shape-1,
body.loaded .fxt-small-shap .fxt-shape-2,
body.loaded .fxt-small-shap .fxt-shape-3,
body.loaded .fxt-small-shap .fxt-shape-4,
body.loaded .fxt-small-shap .fxt-shape-5,
body.loaded .fxt-small-shap .fxt-shape-6,
body.loaded .fxt-small-shap .fxt-shape-7,
body.loaded .fxt-small-shap .fxt-shape-8,
body.loaded .fxt-small-shap .fxt-shape-9 {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
body.loaded .fxt-shape-left {
  -webkit-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
}
body.loaded .fxt-shape-middle {
  -webkit-transform: scale(1) translateX(-50%) translateY(-50%);
  -ms-transform: scale(1) translateX(-50%) translateY(-50%);
  transform: scale(1) translateX(-50%) translateY(-50%);
}
body.loaded .fxt-shape-right {
  -webkit-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
}
.fxt-template {
  background: #081639;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #081639), to(#251669));
  background: -o-linear-gradient(bottom, #081639 20%, #251669 100%);
  background: linear-gradient(0deg, #081639 20%, #251669 100%);
}
.fxt-template .fxt-main-content {
  width: 100%;
  padding: 40px 30px;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content {
    padding: 40px 15px;
  }
}
.fxt-template .fxt-main-content .fxt-logo {
  margin-top: 8px;
  margin-bottom: 50px;
  max-width: 64px;
  margin-left: auto;
  margin-right: auto;
}
.fxt-template .fxt-main-content .fxt-main-title {
  color: #fff;
  margin-bottom: 10px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
  width: 100%;
}
.fxt-template .fxt-main-content .fxt-paragraph {
  color: #fff;
  max-width: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.fxt-template .fxt-main-content .fxt-countdown {
  margin-top: 20px;
  margin-bottom: 95px;
}
@media only screen and (max-width: 1199px) {
  .fxt-template .fxt-main-content .fxt-countdown {
    margin-bottom: 85px;
  }
}
@media only screen and (max-width: 991px) {
  .fxt-template .fxt-main-content .fxt-countdown {
    margin-bottom: 75px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template .fxt-main-content .fxt-countdown {
    margin-bottom: 65px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content .fxt-countdown {
    margin-bottom: 55px;
  }
}
.fxt-template .fxt-main-content .fxt-countdown .countdown-section {
  display: inline-block;
  min-width: 150px;
}
@media only screen and (max-width: 1199px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section {
    min-width: 120px;
  }
}
@media only screen and (max-width: 991px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section {
    min-width: 105px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section {
    min-width: 95px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section {
    min-width: 80px;
  }
}
@media only screen and (max-width: 479px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section {
    min-width: 65px;
  }
}
.fxt-template .fxt-main-content .fxt-countdown .countdown-section > div {
  position: relative;
  z-index: 1;
}
.fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-number {
  font-size: 60px;
  line-height: 1;
  color: #ffffff;
}
@media only screen and (max-width: 1439px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-number {
    font-size: 56px;
  }
}
@media only screen and (max-width: 1199px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-number {
    font-size: 48px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-number {
    font-size: 42px;
  }
}
@media only screen and (max-width: 479px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-number {
    font-size: 36px;
  }
}
.fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-unit {
  color: #fff;
  position: absolute;
  z-index: 1;
  bottom: -45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
@media only screen and (max-width: 991px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-unit {
    font-size: 20px;
    bottom: -45px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-unit {
    font-size: 18px;
    bottom: -40px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-unit {
    font-size: 16px;
    bottom: -35px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content .fxt-countdown .countdown-section .countdown-unit {
    font-size: 15px;
    bottom: -30px;
  }
}
.fxt-template .fxt-main-content .fxt-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 50px;
}
@media only screen and (max-width: 991px) {
  .fxt-template .fxt-main-content .fxt-buttons {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template .fxt-main-content .fxt-buttons {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content .fxt-buttons {
    margin-bottom: 30px;
  }
}
.fxt-template .fxt-main-content .fxt-buttons .fxt-btn {
  margin: 0 7px 12px;
}
.fxt-template .fxt-main-content .fxt-btn-ghost {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid;
  border-color: #a2a2a2;
  color: #fff;
  border-radius: 45px;
  background-color: transparent;
  padding: 9px 35px;
  min-width: 180px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .fxt-template .fxt-main-content .fxt-btn-ghost {
    font-size: 15px;
    padding: 9px 30px;
    min-width: 160px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content .fxt-btn-ghost {
    font-size: 14px;
    padding: 9px 25px;
    min-width: 140px;
  }
}
.fxt-template .fxt-main-content .fxt-btn-ghost:hover {
  background-color: #cb2026;
  border-color: #cb2026;
  color: #fff;
}
.fxt-template .fxt-main-content .fxt-btn-ghost:focus {
  outline: none;
}
.fxt-template .fxt-main-content .fxt-btn-fill {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid;
  border-color: #cb2026;
  color: #fff;
  border-radius: 45px;
  background-color: #cb2026;
  padding: 9px 35px;
  min-width: 180px;
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .fxt-template .fxt-main-content .fxt-btn-fill {
    font-size: 15px;
    padding: 9px 30px;
    min-width: 160px;
  }
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content .fxt-btn-fill {
    font-size: 14px;
    padding: 9px 25px;
    min-width: 140px;
  }
}
.fxt-template .fxt-main-content .fxt-btn-fill:hover {
  background-color: transparent;
  border-color: #a2a2a2;
  color: #fff;
}
.fxt-template .fxt-main-content .fxt-btn-fill:focus {
  outline: none;
}
.fxt-template .fxt-main-content .fxt-socials {
  margin-bottom: 20px;
}
@media only screen and (max-width: 575px) {
  .fxt-template .fxt-main-content .fxt-socials {
    margin-bottom: 15px;
  }
}
.fxt-template .fxt-main-content .fxt-socials li {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 8px;
}
@media only screen and (max-width: 991px) {
  .fxt-template .fxt-main-content .fxt-socials li {
    margin-right: 10px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 767px) {
  .fxt-template .fxt-main-content .fxt-socials li {
    margin-right: 5px;
  }
}
.fxt-template .fxt-main-content .fxt-socials li:last-child {
  margin-right: 0;
}
.fxt-template .fxt-main-content .fxt-socials li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  height: 45px;
  width: 45px;
  color: #ffffff;
  background-color: #09163a;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 767px) {
  .fxt-template .fxt-main-content .fxt-socials li a {
    font-size: 15px;
    height: 40px;
    width: 40px;
  }
}
.fxt-template .fxt-main-content .fxt-socials li.fxt-facebook a:hover {
  background-color: #3b5998;
}
.fxt-template .fxt-main-content .fxt-socials li.fxt-twitter a:hover {
  background-color: #ff7c90;
}
.fxt-template .fxt-main-content .fxt-socials li.fxt-google a:hover {
  background-color: #CC3333;
}
.fxt-template .fxt-main-content .fxt-socials li.fxt-linkedin a:hover {
  background-color: #0077B5;
}
.fxt-template .fxt-main-content .fxt-copyright {
  color: #e9e9e9;
}
/*========================================================================
6. Sidebar Style
=========================================================================*/
body .fxt-template {
  position: relative;
  z-index: 1;
}
body .fxt-template:before {
  content: "";
  background-color: rgba(255, 192, 0, 0.8);
  left: 0;
  right: inherit;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
body .fxt-page-content {
  text-align: center;
  background-color: #fff;
  height: 100%;
  min-width: 40vw;
  overflow-y: scroll;
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 5;
  top: 0;
  left: 100%;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
@media only screen and (max-width: 991px) {
  body .fxt-page-content {
    position: relative;
    left: inherit;
    min-width: 100vw;
    max-height: inherit;
  }
}
body .fxt-page-content .content-heading {
  margin-bottom: 30px;
}
body .fxt-page-content .content-heading .content-title {
  font-weight: 700;
}
body .fxt-about-wrap {
  overflow: hidden;
  padding: 80px 100px 83px;
  background-color: #ffffff;
}
body .fxt-about-wrap ul{
  margin-top: 8px;
  list-style: circle;
  margin-left: 32px;
}
body .fxt-about-wrap ul li{
  color: #646464;
  text-align: left;
  font-size: 14px;
}
@media only screen and (max-width: 1439px) {
  body .fxt-about-wrap {
    padding: 80px 60px 83px;
  }
}
@media only screen and (max-width: 1199px) {
  body .fxt-about-wrap {
    padding: 80px 30px 83px;
  }
}
@media only screen and (max-width: 991px) {
  body .fxt-about-wrap {
    padding: 70px 150px 73px;
  }
}
@media only screen and (max-width: 767px) {
  body .fxt-about-wrap {
    padding: 60px 80px 63px;
  }
}
@media only screen and (max-width: 575px) {
  body .fxt-about-wrap {
    padding: 50px 30px 53px;
  }
}
body .fxt-about-wrap .content-paragraph {
  margin-bottom: 0;
  color: #646464;
  text-align: left;
}
body .fxt-contact-wrap {
  background-color: #fafafa;
  overflow: hidden;
  padding: 80px 100px 60px;
}
@media only screen and (max-width: 1439px) {
  body .fxt-contact-wrap {
    padding: 80px 60px 60px;
  }
}
@media only screen and (max-width: 1199px) {
  body .fxt-contact-wrap {
    padding: 80px 30px 60px;
  }
}
@media only screen and (max-width: 991px) {
  body .fxt-contact-wrap {
    padding: 70px 150px 50px;
  }
}
@media only screen and (max-width: 767px) {
  body .fxt-contact-wrap {
    padding: 60px 80px 40px;
  }
}
@media only screen and (max-width: 575px) {
  body .fxt-contact-wrap {
    padding: 50px 30px 30px;
  }
}
body .fxt-contact-form-wrap {
  margin-bottom: 40px;
}
body .fxt-contact-form-wrap .form-group {
  margin-bottom: 30px;
}
@media only screen and (max-width: 991px) {
  body .fxt-contact-form-wrap .form-group {
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  body .fxt-contact-form-wrap .form-group {
    margin-bottom: 15px;
  }
}
body .fxt-contact-form-wrap .form-group:last-child {
  margin-bottom: 0;
}
body .fxt-contact-form-wrap .form-group .form-control {
  border: 0;
  border-bottom: 1px solid #dddddd;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 20px 10px 0;
  font-size: 15px;
  color: #111;
}
@media only screen and (max-width: 991px) {
  body .fxt-contact-form-wrap .form-group .form-control {
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  body .fxt-contact-form-wrap .form-group .form-control {
    font-size: 13px;
  }
}
body .fxt-contact-form-wrap .form-group .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
body .fxt-contact-form-wrap .form-group input {
  height: 50px;
}
@media only screen and (max-width: 991px) {
  body .fxt-contact-form-wrap .form-group input {
    height: 45px;
  }
}
@media only screen and (max-width: 767px) {
  body .fxt-contact-form-wrap .form-group input {
    height: 40px;
  }
}
body .fxt-contact-form-wrap .form-group input.form-control::-webkit-input-placeholder,
body .fxt-contact-form-wrap .form-group textarea.form-control::-webkit-input-placeholder {
  color: #666666;
}
body .fxt-contact-form-wrap .form-group input.form-control::-moz-placeholder,
body .fxt-contact-form-wrap .form-group textarea.form-control::-moz-placeholder {
  color: #666666;
}
body .fxt-contact-form-wrap .form-group input.form-control:-moz-placeholder,
body .fxt-contact-form-wrap .form-group textarea.form-control:-moz-placeholder {
  color: #666666;
}
body .fxt-contact-form-wrap .form-group input.form-control:-ms-input-placeholder,
body .fxt-contact-form-wrap .form-group textarea.form-control:-ms-input-placeholder {
  color: #666666;
}
body .fxt-contact-form-wrap .form-group .fxt-btn-fill {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 1px solid;
  border-color: #cb2026;
  color: #f1f1f1;
  border-radius: 45px;
  background-color: #cb2026;
  padding: 12px 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media only screen and (max-width: 991px) {
  body .fxt-contact-form-wrap .form-group .fxt-btn-fill {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  body .fxt-contact-form-wrap .form-group .fxt-btn-fill {
    margin-top: 5px;
    font-size: 14px;
    padding: 11px 30px;
  }
}
@media only screen and (max-width: 575px) {
  body .fxt-contact-form-wrap .form-group .fxt-btn-fill {
    font-size: 13px;
    padding: 10px 25px;
  }
}
body .fxt-contact-form-wrap .form-group .fxt-btn-fill:hover {
  background-color: transparent;
  color: #cb2026;
}
body .fxt-contact-form-wrap .form-group .fxt-btn-fill:focus {
  outline: none;
}
body .fxt-contact-form-wrap .form-response {
  color: green!important;
  font-weight: bold;
}
body .fxt-contact-form-wrap .form-response .alert-danger,
body .fxt-contact-form-wrap .form-response .alert.alert-info,
body .fxt-contact-form-wrap .form-response .alert.alert-success {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 10px 25px;
  border-radius: 45px;
  display: inline-block;
  font-size: 14px;
}
@media only screen and (max-width: 575px) {
  body .fxt-contact-form-wrap .form-response .alert-danger,
  body .fxt-contact-form-wrap .form-response .alert.alert-info,
  body .fxt-contact-form-wrap .form-response .alert.alert-success {
    padding: 9px 25px;
  }
}
body .fxt-contact-form-wrap .form-response .alert-danger p,
body .fxt-contact-form-wrap .form-response .alert.alert-info p,
body .fxt-contact-form-wrap .form-response .alert.alert-success p {
  margin-bottom: 0;
}
body .fxt-contact-address-wrap {
  margin-bottom: 20px;
}
body .fxt-contact-address-wrap .fxt-address-box {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body .fxt-contact-address-wrap .fxt-address-box .item-icon i:before {
  margin-left: 0;
  font-size: 30px;
  color: #cb2026;
}
@media only screen and (max-width: 991px) {
  body .fxt-contact-address-wrap .fxt-address-box .item-icon i:before {
    font-size: 36px;
  }
}
@media only screen and (max-width: 767px) {
  body .fxt-contact-address-wrap .fxt-address-box .item-icon i:before {
    font-size: 30px;
  }
}
body .fxt-contact-address-wrap .fxt-address-box .item-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-left: 20px;
  text-align: left;
}
body .fxt-contact-address-wrap .fxt-address-box .item-content .item-title {
  font-weight: 700;
  margin-bottom: 5px;
  color: #585858;
}
body .fxt-contact-address-wrap .fxt-address-box .item-content .item-text {
  color: #666666;
}
body .fxt-contact-address-wrap .fxt-address-box:last-child {
  margin-bottom: 0;
}
body .ofcanvas-triger {
  position: absolute;
  z-index: 2;
  right: 5vw;
  display: block;
  top: 8vh;
  padding: 10px 7px;
  cursor: pointer;
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
body .ofcanvas-triger .bar {
  background-color: #fff;
  height: 2px;
  width: 30px;
  display: block;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
body .ofcanvas-triger .bar:nth-child(2),
body .ofcanvas-triger .bar:nth-child(3) {
  width: 25px;
  margin-left: 5px;
}
body .ofcanvas-triger .bar:last-child {
  margin-bottom: 0;
}
body .ofcanvas-triger.triger-btn-dark .bar {
  background-color: #000;
}
@media only screen and (max-width: 991px) {
  body .ofcanvas-triger {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  body.open-sidebar .fxt-template:before {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
  }
  body.open-sidebar .fxt-template .fxt-page-content {
    left: 60%;
    -webkit-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
  }
  body.open-sidebar .ofcanvas-triger {
    -webkit-transform: translateX(calc(-40vw + 60px));
    -ms-transform: translateX(calc(-40vw + 60px));
    transform: translateX(calc(-40vw + 60px));
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  body.open-sidebar .ofcanvas-triger .bar:nth-child(2),
  body.open-sidebar .ofcanvas-triger .bar:nth-child(3) {
    opacity: 0;
  }
  body.open-sidebar .ofcanvas-triger .bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(7px, 7px);
    -ms-transform: rotate(45deg) translate(7px, 7px);
    transform: rotate(45deg) translate(7px, 7px);
  }
  body.open-sidebar .ofcanvas-triger .bar:nth-child(4) {
    -webkit-transform: rotate(-45deg) translate(8px, -8px);
    -ms-transform: rotate(-45deg) translate(8px, -8px);
    transform: rotate(-45deg) translate(8px, -8px);
  }
}

.get-in-touch-wrapper {
  margin-top: 48px;
  /* display: flex;
  align-items: center; */
}
.get-in-touch-wrapper  h4 {
    margin-bottom: 8px;
}
.get-in-touch {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 0 16px;
  background: #ffffffe6;
  height: 48px;
  border: 1px solid transparent;
  flex: 1;
}

.get-in-touch:focus,
.get-in-touch:hover {
  border: 1px solid #ff555b;
}

#id-submit-google-form-message-2,
#id-submit-google-form-message {
    font-size: 13px;
    font-weight: 300;
    margin-top: 5px;
    color: #a8ffa8;
    letter-spacing: 0.3px;
    display: none;
}
#id-submit-google-form-message-2.show,
#id-submit-google-form-message.show {
    display: block;
}
.get-in-touch button {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  outline: none;
  border-radius: 20px;
  font-size: 14px;
  padding: 4px 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-weight: bold;
  background: #ff555b;
  color: white;
  border: none;
}

.get-in-touch button:focus,
.get-in-touch button:hover {
  outline: none;
  background: #ff555b;
}

.get-in-touch input {
  outline: none;
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

/* #id-fa-spin {
    display: none;
} */




body .has-animation .translate-zoomout-0 {
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
}
body .has-animation .translate-zoomout-5 {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.05);
}
body .has-animation .translate-zoomout-10 {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.1);
}
body .has-animation .translate-zoomout-20 {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.2);
}
body .has-animation .translate-zoomout-30 {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.3);
}
body .has-animation .translate-zoomout-40 {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.4);
}
body .has-animation .translate-zoomout-50 {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}
body .has-animation .translate-left-10 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10%);
}
body .has-animation .translate-left-20 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-20%);
}
body .has-animation .translate-left-30 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-30%);
}
body .has-animation .translate-left-40 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-40%);
}
body .has-animation .translate-left-50 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-50%);
}
body .has-animation .translate-left-75 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-75%);
}
body .has-animation .translate-left-100 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}
body .has-animation .translate-right-10 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(10%);
}
body .has-animation .translate-right-20 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(20%);
}
body .has-animation .translate-right-30 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(30%);
}
body .has-animation .translate-right-40 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(40%);
}
body .has-animation .translate-right-50 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(50%);
}
body .has-animation .translate-right-75 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(75%);
}
body .has-animation .translate-right-100 {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}
body .has-animation .translate-top-10 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%);
}
body .has-animation .translate-top-20 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20%);
}
body .has-animation .translate-top-30 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30%);
}
body .has-animation .translate-top-40 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40%);
}
body .has-animation .translate-top-50 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
}
body .has-animation .translate-top-75 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-75%);
}
body .has-animation .translate-top-100 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
}
body .has-animation .translate-bottom-10 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10%);
}
body .has-animation .translate-bottom-20 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20%);
}
body .has-animation .translate-bottom-30 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30%);
}
body .has-animation .translate-bottom-40 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40%);
}
body .has-animation .translate-bottom-50 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%);
}
body .has-animation .translate-bottom-75 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(75%);
}
body .has-animation .translate-bottom-100 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%);
}
body .has-animation .translate-bottom-left-10 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10%) translateX(-10%);
}
body .has-animation .translate-bottom-left-20 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20%) translateX(-20%);
}
body .has-animation .translate-bottom-left-30 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30%) translateX(-30%);
}
body .has-animation .translate-bottom-left-40 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40%) translateX(-40%);
}
body .has-animation .translate-bottom-left-50 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(50%) translateX(-50%);
}
body .has-animation .translate-bottom-left-75 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(75%) translateX(-75%);
}
body .has-animation .translate-bottom-left-100 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(100%) translateX(-100%);
}
body .has-animation .translate-top-left-10 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%) translateX(-10%);
}
body .has-animation .translate-top-left-20 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20%) translateX(-20%);
}
body .has-animation .translate-top-left-30 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30%) translateX(-30%);
}
body .has-animation .translate-top-left-40 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40%) translateX(-40%);
}
body .has-animation .translate-top-left-50 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) translateX(-50%);
}
body .has-animation .translate-top-left-75 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-75%) translateX(-75%);
}
body .has-animation .translate-top-left-100 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%) translateX(-100%);
}
body .has-animation .translate-top-right-10 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10%) translateX(10%);
}
body .has-animation .translate-top-right-20 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20%) translateX(20%);
}
body .has-animation .translate-top-right-30 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-30%) translateX(30%);
}
body .has-animation .translate-top-right-40 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-40%) translateX(40%);
}
body .has-animation .translate-top-right-50 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%) translateX(50%);
}
body .has-animation .translate-top-right-75 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-75%) translateX(75%);
}
body .has-animation .translate-top-right-100 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%) translateX(100%);
}
body .transition-10,
body .transition-20,
body .transition-30,
body .transition-40,
body .transition-50,
body .transition-100,
body .transition-150,
body .transition-200,
body .transition-250,
body .transition-300,
body .transition-350,
body .transition-400,
body .transition-450,
body .transition-500,
body .transition-550,
body .transition-600,
body .transition-650,
body .transition-700,
body .transition-750,
body .transition-800,
body .transition-850,
body .transition-900,
body .transition-950,
body .transition-1000 {
  transition: all 0.01s ease-out;
  transition-delay: 0.5s;
}
body.loaded .has-animation.active-animation .translate-zoomout-0,
body.loaded .has-animation.active-animation .translate-zoomout-5,
body.loaded .has-animation.active-animation .translate-zoomout-10,
body.loaded .has-animation.active-animation .translate-zoomout-20,
body.loaded .has-animation.active-animation .translate-zoomout-30,
body.loaded .has-animation.active-animation .translate-zoomout-40,
body.loaded .has-animation.active-animation .translate-zoomout-50 {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
body.loaded .has-animation.active-animation .translate-left-10,
body.loaded .has-animation.active-animation .translate-left-20,
body.loaded .has-animation.active-animation .translate-left-30,
body.loaded .has-animation.active-animation .translate-left-40,
body.loaded .has-animation.active-animation .translate-left-50,
body.loaded .has-animation.active-animation .translate-left-75,
body.loaded .has-animation.active-animation .translate-left-100,
body.loaded .has-animation.active-animation .translate-right-10,
body.loaded .has-animation.active-animation .translate-right-20,
body.loaded .has-animation.active-animation .translate-right-30,
body.loaded .has-animation.active-animation .translate-right-40,
body.loaded .has-animation.active-animation .translate-right-50,
body.loaded .has-animation.active-animation .translate-right-75,
body.loaded .has-animation.active-animation .translate-right-100,
body.loaded .has-animation.active-animation .translate-top-10,
body.loaded .has-animation.active-animation .translate-top-20,
body.loaded .has-animation.active-animation .translate-top-30,
body.loaded .has-animation.active-animation .translate-top-40,
body.loaded .has-animation.active-animation .translate-top-50,
body.loaded .has-animation.active-animation .translate-top-75,
body.loaded .has-animation.active-animation .translate-top-100,
body.loaded .has-animation.active-animation .translate-bottom-10,
body.loaded .has-animation.active-animation .translate-bottom-20,
body.loaded .has-animation.active-animation .translate-bottom-30,
body.loaded .has-animation.active-animation .translate-bottom-40,
body.loaded .has-animation.active-animation .translate-bottom-50,
body.loaded .has-animation.active-animation .translate-bottom-75,
body.loaded .has-animation.active-animation .translate-bottom-100,
body.loaded .has-animation.active-animation .translate-top-left-10,
body.loaded .has-animation.active-animation .translate-top-left-20,
body.loaded .has-animation.active-animation .translate-top-left-30,
body.loaded .has-animation.active-animation .translate-top-left-40,
body.loaded .has-animation.active-animation .translate-top-left-50,
body.loaded .has-animation.active-animation .translate-top-left-75,
body.loaded .has-animation.active-animation .translate-top-left-100,
body.loaded .has-animation.active-animation .translate-top-right-10,
body.loaded .has-animation.active-animation .translate-top-right-20,
body.loaded .has-animation.active-animation .translate-top-right-30,
body.loaded .has-animation.active-animation .translate-top-right-40,
body.loaded .has-animation.active-animation .translate-top-right-50,
body.loaded .has-animation.active-animation .translate-top-right-75,
body.loaded .has-animation.active-animation .translate-top-right-100,
body.loaded .has-animation.active-animation .translate-bottom-left-10,
body.loaded .has-animation.active-animation .translate-bottom-left-20,
body.loaded .has-animation.active-animation .translate-bottom-left-30,
body.loaded .has-animation.active-animation .translate-bottom-left-40,
body.loaded .has-animation.active-animation .translate-bottom-left-50,
body.loaded .has-animation.active-animation .translate-bottom-left-75,
body.loaded .has-animation.active-animation .translate-bottom-left-100 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(0);
}
body.loaded .transition-10 {
  transition: cubic-bezier(0, 1, 1, 1) 0.1s, opacity 0.3s;
}
body.loaded .transition-20 {
  transition: cubic-bezier(0, 1, 1, 1) 0.2s, opacity 0.3s;
}
body.loaded .transition-30 {
  transition: cubic-bezier(0, 1, 1, 1) 0.3s, opacity 0.3s;
}
body.loaded .transition-40 {
  transition: cubic-bezier(0, 1, 1, 1) 0.4s, opacity 0.3s;
}
body.loaded .transition-50 {
  transition: cubic-bezier(0, 1, 1, 1) 0.5s, opacity 0.3s;
}
body.loaded .transition-100 {
  transition: cubic-bezier(0, 1, 1, 1) 1s, opacity 0.3s;
}
body.loaded .transition-150 {
  transition: cubic-bezier(0, 1, 1, 1) 1.5s, opacity 0.3s;
}
body.loaded .transition-200 {
  transition: cubic-bezier(0, 1, 1, 1) 2s, opacity 0.3s;
}
body.loaded .transition-250 {
  transition: cubic-bezier(0, 1, 1, 1) 2.5s, opacity 0.3s;
}
body.loaded .transition-300 {
  transition: cubic-bezier(0, 1, 1, 1) 3s, opacity 0.3s;
}
body.loaded .transition-350 {
  transition: cubic-bezier(0, 1, 1, 1) 3.5s, opacity 0.3s;
}
body.loaded .transition-400 {
  transition: cubic-bezier(0, 1, 1, 1) 4s, opacity 0.3s;
}
body.loaded .transition-450 {
  transition: cubic-bezier(0, 1, 1, 1) 4.5s, opacity 0.3s;
}
body.loaded .transition-500 {
  transition: cubic-bezier(0, 1, 1, 1) 5s, opacity 0.3s;
}
body.loaded .transition-550 {
  transition: cubic-bezier(0, 1, 1, 1) 5.5s, opacity 0.3s;
}
body.loaded .transition-600 {
  transition: cubic-bezier(0, 1, 1, 1) 6s, opacity 0.3s;
}
body.loaded .transition-650 {
  transition: cubic-bezier(0, 1, 1, 1) 6.5s, opacity 0.3s;
}
body.loaded .transition-700 {
  transition: cubic-bezier(0, 1, 1, 1) 7s, opacity 0.3s;
}
body.loaded .transition-750 {
  transition: cubic-bezier(0, 1, 1, 1) 7.5s, opacity 0.3s;
}
body.loaded .transition-800 {
  transition: cubic-bezier(0, 1, 1, 1) 8s, opacity 0.3s;
}
body.loaded .transition-850 {
  transition: cubic-bezier(0, 1, 1, 1) 8.5s, opacity 0.3s;
}
body.loaded .transition-900 {
  transition: cubic-bezier(0, 1, 1, 1) 9s, opacity 0.3s;
}
body.loaded .transition-950 {
  transition: cubic-bezier(0, 1, 1, 1) 9.5s, opacity 0.3s;
}
body.loaded .transition-1000 {
  transition: cubic-bezier(0, 1, 1, 1) 10s, opacity 0.3s;
}
body.loaded .transition-delay-0 {
  transition-delay: 0s;
}
body.loaded .transition-delay-10 {
  transition-delay: 0.01s;
}
body.loaded .transition-delay-20 {
  transition-delay: 0.02s;
}
body.loaded .transition-delay-30 {
  transition-delay: 0.03s;
}
body.loaded .transition-delay-40 {
  transition-delay: 0.04s;
}
body.loaded .transition-delay-50 {
  transition-delay: 0.05s;
}
body.loaded .transition-delay-100 {
  transition-delay: 0.1s;
}
body.loaded .transition-delay-200 {
  transition-delay: 0.2s;
}
body.loaded .transition-delay-300 {
  transition-delay: 0.3s;
}
body.loaded .transition-delay-400 {
  transition-delay: 0.4s;
}
body.loaded .transition-delay-500 {
  transition-delay: 0.5s;
}
body.loaded .transition-delay-600 {
  transition-delay: 0.6s;
}
body.loaded .transition-delay-700 {
  transition-delay: 0.7s;
}
body.loaded .transition-delay-800 {
  transition-delay: 0.8s;
}
body.loaded .transition-delay-900 {
  transition-delay: 0.9s;
}
body.loaded .transition-delay-1000 {
  transition-delay: 1s;
}
body.loaded .transition-delay-1100 {
  transition-delay: 1.1s;
}
body.loaded .transition-delay-1200 {
  transition-delay: 1.2s;
}
body.loaded .transition-delay-1300 {
  transition-delay: 1.3s;
}
body.loaded .transition-delay-1400 {
  transition-delay: 1.4s;
}
body.loaded .transition-delay-1500 {
  transition-delay: 1.5s;
}
body.loaded .transition-delay-1600 {
  transition-delay: 1.6s;
}
body.loaded .transition-delay-1700 {
  transition-delay: 1.7s;
}
body.loaded .transition-delay-1800 {
  transition-delay: 1.8s;
}
body.loaded .transition-delay-1900 {
  transition-delay: 1.9s;
}
body.loaded .transition-delay-2000 {
  transition-delay: 2s;
}
body.loaded .transition-delay-2100 {
  transition-delay: 2.1s;
}
body.loaded .transition-delay-2200 {
  transition-delay: 2.2s;
}
body.loaded .transition-delay-2300 {
  transition-delay: 2.3s;
}
body.loaded .transition-delay-2400 {
  transition-delay: 2.4s;
}
body.loaded .transition-delay-2500 {
  transition-delay: 2.5s;
}
body.loaded .transition-delay-2600 {
  transition-delay: 2.6s;
}
body.loaded .transition-delay-2700 {
  transition-delay: 2.7s;
}
body.loaded .transition-delay-2800 {
  transition-delay: 2.8s;
}
body.loaded .transition-delay-2900 {
  transition-delay: 2.9s;
}
body.loaded .transition-delay-3000 {
  transition-delay: 3s;
}
body.loaded .transition-delay-3100 {
  transition-delay: 3.1s;
}
body.loaded .transition-delay-3200 {
  transition-delay: 3.2s;
}
body.loaded .transition-delay-3300 {
  transition-delay: 3.3s;
}
body.loaded .transition-delay-3400 {
  transition-delay: 3.4s;
}
body.loaded .transition-delay-3500 {
  transition-delay: 3.5s;
}
body.loaded .transition-delay-3600 {
  transition-delay: 3.6s;
}
body.loaded .transition-delay-3700 {
  transition-delay: 3.7s;
}
body.loaded .transition-delay-3800 {
  transition-delay: 3.8s;
}
body.loaded .transition-delay-3900 {
  transition-delay: 3.9s;
}
body.loaded .transition-delay-4000 {
  transition-delay: 4s;
}
body.loaded .transition-delay-4100 {
  transition-delay: 4.1s;
}
body.loaded .transition-delay-4200 {
  transition-delay: 4.2s;
}
body.loaded .transition-delay-4300 {
  transition-delay: 4.3s;
}
body.loaded .transition-delay-4400 {
  transition-delay: 4.4s;
}
body.loaded .transition-delay-4500 {
  transition-delay: 4.5s;
}
body.loaded .transition-delay-4600 {
  transition-delay: 4.6s;
}
body.loaded .transition-delay-4700 {
  transition-delay: 4.7s;
}
body.loaded .transition-delay-4800 {
  transition-delay: 4.8s;
}
body.loaded .transition-delay-4900 {
  transition-delay: 4.9s;
}
body.loaded .transition-delay-5000 {
  transition-delay: 5s;
}
body.loaded .transition-delay-5100 {
  transition-delay: 5.1s;
}
body.loaded .transition-delay-5200 {
  transition-delay: 5.2s;
}
body.loaded .transition-delay-5300 {
  transition-delay: 5.3s;
}
body.loaded .transition-delay-5400 {
  transition-delay: 5.4s;
}
body.loaded .transition-delay-5500 {
  transition-delay: 5.5s;
}
body.loaded .transition-delay-5600 {
  transition-delay: 5.6s;
}
body.loaded .transition-delay-5700 {
  transition-delay: 5.7s;
}
body.loaded .transition-delay-5800 {
  transition-delay: 5.8s;
}
body.loaded .transition-delay-5900 {
  transition-delay: 5.9s;
}
body.loaded .transition-delay-6000 {
  transition-delay: 6s;
}
@media only screen and (min-width: 992px) {
  body .fxt-page-content .has-animation .translate-bottom {
    transform: translateY(200px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.01s ease-out;
  }
  body .fxt-page-content .has-animation .delay-100,
  body .fxt-page-content .has-animation .delay-200,
  body .fxt-page-content .has-animation .delay-300,
  body .fxt-page-content .has-animation .delay-400,
  body .fxt-page-content .has-animation .delay-500,
  body .fxt-page-content .has-animation .delay-600,
  body .fxt-page-content .has-animation .delay-700,
  body .fxt-page-content .has-animation .delay-800,
  body .fxt-page-content .has-animation .delay-900,
  body .fxt-page-content .has-animation .delay-1000,
  body .fxt-page-content .has-animation .delay-1100,
  body .fxt-page-content .has-animation .delay-1200,
  body .fxt-page-content .has-animation .delay-1300,
  body .fxt-page-content .has-animation .delay-1400,
  body .fxt-page-content .has-animation .delay-1500,
  body .fxt-page-content .has-animation .delay-1600,
  body .fxt-page-content .has-animation .delay-1700,
  body .fxt-page-content .has-animation .delay-1800,
  body .fxt-page-content .has-animation .delay-1900,
  body .fxt-page-content .has-animation .delay-2000 {
    transition-delay: 0.8s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .translate-bottom {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: cubic-bezier(0, 1, 1, 1) 1.3s, opacity 0.3s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-100 {
    transition-delay: 0.1s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-200 {
    transition-delay: 0.2s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-300 {
    transition-delay: 0.3s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-400 {
    transition-delay: 0.4s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-500 {
    transition-delay: 0.5s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-600 {
    transition-delay: 0.6s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-700 {
    transition-delay: 0.7s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-800 {
    transition-delay: 0.8s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-900 {
    transition-delay: 0.9s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1000 {
    transition-delay: 1s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1100 {
    transition-delay: 1.1s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1200 {
    transition-delay: 1.2s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1300 {
    transition-delay: 1.3s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1400 {
    transition-delay: 1.4s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1500 {
    transition-delay: 1.5s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1600 {
    transition-delay: 1.6s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1700 {
    transition-delay: 1.7s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1800 {
    transition-delay: 1.8s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-1900 {
    transition-delay: 1.9s;
  }
  body.open-sidebar .fxt-page-content .has-animation.active-animation .delay-2000 {
    transition-delay: 2s;
  }
}



